name: "Create cluster using KinD"
on: [pull_request, push]

jobs:
  test-infra:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - name: Create Kind cluster
      run: |
        kind create cluster --config=kind-config.yaml --wait 5m
    
    - name: Install Istio
      run: |
        curl -sL https://istio.io/downloadIstio | ISTIO_VERSION=1.4.10 sh -
        export PATH=$PWD/istio-1.4.10/bin:$PATH
        istioctl manifest apply -f istio-1.4-ingress-gateway-custom.yaml
        kubectl -n istio-system wait --for=condition=Ready --timeout=5m pod -l app=pilot

    - name: Install Knative
      run: |
        kubectl apply --filename https://github.com/knative/serving/releases/download/v0.17.0/serving-crds.yaml

        kubectl apply --filename knative-serving-core.yaml
        kubectl -n knative-serving wait --for=condition=Ready --timeout=3m pod -l app=controller

        kubectl apply --filename https://github.com/knative/net-istio/releases/download/v0.17.0/release.yaml
        kubectl -n knative-serving wait --for=condition=Ready --timeout=3m pod -l app=istio-webhook
        kubectl -n knative-serving wait --for=condition=Ready --timeout=3m pod -l app=networking-istio

        kubectl patch configmap/config-domain \
          --namespace knative-serving \
          --type merge \
          --patch '{"data":{"127.0.0.1.xip.io":""}}'

    - name: Test Installation
      run: |
        kubectl apply -f deploy-knative-services/
        kubectl wait --for=condition=Ready --timeout=3m service.serving.knative.dev/foo
        kubectl wait --for=condition=Ready --timeout=3m service.serving.knative.dev/bar

        curl -D - -s http://foo.default.127.0.0.1.xip.io
        curl -D - -s http://bar.default.127.0.0.1.xip.io
